{% extends 'base.html' %}

{% block body %}
<h1 class="text-center my-4">Edit Details</h1>
<form action="/edit/{{ employee.id }}" method="POST">
    <div class="form-group">
        <label class="h5">Name</label>
        <input type="text" name="Name" class="form-control mb-4" value="{{ employee.name }}" required>
    </div>
    <div class="form-group">
        <label class="h5">Email</label>
        <input type="email" name="Email" class="form-control mb-4" value="{{ employee.email }}" required>
    </div>
    <div class="form-group">
        <label class="h5">Post</label>
        <input type="text" name="Post" class="form-control mb-4" value="{{ employee.post }}" required>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
</form>
<div class="mt-4 ml-2">
    <a href="/">Go Back</a>
</div>
{% endblock %}